{% extends "web/layout.html" %}
{% block title %}
    List of Events
{% endblock %}
{% block nav %}
{% endblock %}
{% block content %}
<div class="listtable">
{% for row in rows%}
    <div class="listrow">
        <div class="listheader">
            <div class="secheader">{{row.start}}</div>
            <div class="secsubheader">{{row.summary}}</div>
        </div>
        <div class="listdetail">
        {% for event in row.events %}    
            <div class="event {{event.status}}">
                <a href="{% url 'eventedit' event.calendarid event.id %}">{{event.name}}</a> {{event.attendee}}
            </div>
        {% endfor %}
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}