<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'web/site.css' %}"/>
</head>

<body>
<div class="titlebar">
    <span class="logoblock">
        <img src="{% static 'web/logo.png' %}" width="50" height="50"/>
    </span>
    <span class="titleblock">
        go2.hockey tickets
    </span>
</div>

<div class="body-content">
    <span class="navblock">
        {% for s in navsets %}
        <a href="{% url navlink %}?set={{s.name}}">{{s.name}}</a><br/>
        {% for t in s.tickets %}
        &nbsp;-&nbsp;<a href="{% url navlink %}?ticket={{t.id}}">{{t.name}}</a><br/>
        {% endfor %}
        {% endfor %}
        {% block nav %}
        {% endblock %}
        <br/><a href="{% url 'newset' %}">Add Ticket Set</a>
    </span>
    <span class="contentblock">
        {% block content %}
        {% endblock %}
    </span>
</div>
<div class="body-content">
    <hr/>
    <footer>
        <p>&copy; 2022</p>
    </footer>
</div>
</body>
</html>
